// Add your own custom styles here
body {
    // background-image: url("/images/gallery/07.jpg");
    background-color: antiquewhite;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
